name: Rust
on: [push, pull_request]

jobs:
  check:
    name: Check and test Rust code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2

      - run: cargo check
      - run: cargo test
      - run: cargo fmt --all -- --check
      - run: cargo clippy -- -D warnings
